html, body {
  margin: 0;
  padding: 0;

}

/* positionnement des images */
img{
  width: 500px;
  background-color: red;
  height: 500px;
  transition: all 1s;
}
/* positionnement des bouttons */
.buttons{
  position: absolute;
}

.slider {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  height: 500px;
}
