* {
  font-family: 'Della Respira', serif;
}

body {
  margin: 0 auto;
  background: #FBF4F4;
}
/*******************

      HEADER

*******************/

header {
  background-color: #EDB2B2;
  height: 204px;
  margin: 0 auto;
}

header div.logo_account{
  display: flex;
  justify-content: center;
  margin-bottom: 19px;
}

header div.logo_account img {
  height: 125px;
}

header nav{
  background-color: #DE8496;
  height: 60px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
}
header nav ul{
  margin : 0 auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 200px;
}

header nav ul li {
  padding: 20px 30px;
  position: relative;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

header nav ul li:hover{
  background:white;
  transition:all 0.2s ease-in;
}

header nav ul li:hover a {
  text-decoration: none;
  color: black;
}

header nav ul li ul{
  display: none;
  position: absolute;
  margin: 0;
  top: 92%;
  left:0px;
  padding:0;
}

header nav ul li:hover ul{
  display: block;
}

header nav ul li ul li{
  background:#DE8496;
  width : 200px;
  text-decoration: none;
  display:block;
  padding:10px;
  transition:all 0.2s ease-in;
  position:relative;
  margin: 0 auto;
  z-index: 1000;
}

header nav ul li ul li:hover{
  background: black;
}

header nav ul li ul li a {
  margin:0 0 0 20px;
}

header nav ul li ul li:hover a {
  margin:0 0 0 20px;
  color:white;
}

/*******************

       MAIN

*******************/

main div.block {

  flex-direction: row;

  width: 80%;
  margin: 50px auto;
}

main div.block img{
  height: 445px;
  float:left;
  border-right: solid #de8496 2px;
}

main div.block div{
  background-color: white;
  color: black;
  font-family: sans-serif;
  height: 445px;
  width: 100%;
  border: solid #de8496 2px;
  text-align: center;
}

main div.block div span{
  font-size: 36px;
}

main div.block div button {
  background-color: #de8496;
  font-size: 30px;
  height: 56px;
  width: 233px;
  color: white;
  border: none;
  border-radius: 10px;
}

main div.block div button:hover {
  background-color: white;
  color: black;
  border: solid #de8496 2px;
}

main div.block div span.price {
  font-weight: bolder;
}

/*******************

      FOOTER

*******************/
