* {
  font-family: 'Della Respira', serif;
}

body {
  margin: 0 auto;
  background: #FBF4F4;
}
/*******************

      HEADER

*******************/

header {
  background-color: #EDB2B2;
  height: 185px;
  margin: 0 auto;
}

header div.logo_account{
  display: flex;
  justify-content: center;
}

header div.logo_account img {
  height: 125px;
}

header nav{
  background-color: #DE8496;
  height: 60px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 22px;
}
header nav ul{
  margin : 0 auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 200px;
}

header nav ul li {
  padding: 15px 30px;
  position: relative;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

header nav ul li:hover{
  background:white;
  transition:all 0.2s ease-in;
}

header nav ul li:hover a {
  text-decoration: none;
  color: black;
}

header nav ul li ul{
  display: none;
  position: absolute;
  margin: 0;
  top: 100%;
  left: -200px;
}

header nav ul li:hover ul{
  display: block;
}

header nav ul li ul li{
  background:#DE8496;
  width : 250px;
  text-align:center;
  text-decoration: none;
  display:block;
  padding: 10px;
  transition:all 0.2s ease-in;
  position:relative;
  margin: 0 auto;
  z-index: 1000;
}

header nav ul li ul li:hover{
  background: black;
}

header nav ul li ul li a {
  margin:0 0 0 ;
}

header nav ul li ul li:hover a {
  margin:0 0 0 20px;
  color:white;
}
/*******************

       MAIN

*******************/

main {
  margin: 70px auto;
}
main div.ContainerSlider{
  height: 543px;
  margin:0;
}
main div.informations {
  height: 213px;
  background-color: grey;
overflow: hidden;
}

main div.informations div {

}
main div.informations img.couture{
  position: relative;
  overflow: hidden;
}

main div.informations div img{
  left: 200px;
  top: 820px;
  position: absolute;
}

main div.informations div h2{
  width: 50%;
  top:860px;
  left: 500px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  color:white;
}

main div.informations div h2 a{
  text-decoration: none;
  color:white;
  font-family: 'Roboto', sans-serif;
}

main div.productcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 87%;
  margin: 50px auto;
}

main div.productcontainer img{
  width:320px;
}

main div.productcontainer div {
  background-color: white;
  color: black;
  height: 350px;
  width: 350px;
  text-align: center;
  position: relative;
  margin: 5px 0;

}

main div.productcontainer div:hover img{
  opacity: 0.5;
}

main div.productcontainer div span.product{
  font-weight: bolder;
  position: absolute;
  top: 45%;
  right: 30%;
}

main div.productcontainer div span.price{
  font-weight: bolder;
  position: absolute;
  top: 65%;
  left: 43%;
}

.rightcloth{
  color: black;
  font-size: 24px;
  overflow: hidden;
  right: 0px;
  height:228px;
  width: 930px;
  font-family: 'Della Respira', serif;
  margin-left: 20px;
  z-index: 0;
  display: flex;
  justify-content: center;
}
.rightcloth img{
  width: 100%;
}
.personalize{
  width:233px;
  height: 56px;
  background-color: #de8496;
  z-index: 1;
  position: absolute;
  margin-top: 150px;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  color: white;
}
.rightcloth p{
  z-index: 1;
  position: absolute;
  margin-top: 75px;
  color: white;

}
.leftcloth{
  color: black;
  font-size: 24px;
  overflow: hidden;
  left: 0;
  height:228px;
  width: 930px;
  font-family: 'Della Respira', serif;
  margin-right: 20px;
  z-index: 0;
  display: flex;
  justify-content: center;
}
.leftcloth img{
  width: 100%
}
.order{
  width:233px;
  height: 56px;
  background-color: #de8496;
  z-index: 1;
  position: absolute;
  margin-top: 150px;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  color: white;
}
.leftcloth p{
  z-index: 1;
  position: absolute;
  margin-top: 75px;
  color: white
}
.lastdivs{
  margin-top: 78px;
  display: flex;
  width: 100%;
}

.personalize:hover,.order:hover{
  background-color: white;
  color: black;
  border: solid #de8496 2px;
}
/*******************

      FOOTER

*******************/
.FOOTER{
  height: 144px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  font-size: 18px;
  justify-content: space-around;
  align-items: center;

}
.FOOTER span{
  font-family: 'Roboto', sans-serif;
}
