* {
  font-family: 'Della Respira', serif;
}

body {
  margin: 0 auto;
}
/*******************

      HEADER

*******************/

header {
  background-color: #EDB2B2;
  height: 204px;
  margin: 0 auto;
}

header div.logo_account{
  display: flex;
  justify-content: center;
  margin-bottom: 19px;
}

header div.logo_account img {
  height: 125px;
}

header nav{
  background-color: #DE8496;
  height: 60px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
}
header nav ul{
  margin : 0 auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 200px;
}

header nav ul li {
  padding: 20px 30px;
  position: relative;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}

header nav ul li:hover{
  background:white;
  transition:all 0.2s ease-in;
}

header nav ul li:hover a {
  text-decoration: none;
  color: black;
}

header nav ul li ul{
  display: none;
  position: absolute;
  margin: 0;
  top: 100%;
  left:0px;
  padding:0;
}

header nav ul li:hover ul{
  display: block;
}

header nav ul li ul li{
  background:#DE8496;
  width : 200px;
  text-decoration: none;
  display:block;
  padding:10px 10px 10px 10px;
  transition:all 0.2s ease-in;
  position:relative;
  margin: 0 auto;
}

header nav ul li ul li:hover{
  background: black;
}

header nav ul li ul li a {
  margin:0 0 0 20px;
  font-family: 'Roboto', sans-serif;
}

header nav ul li ul li:hover a {
  margin:0 0 0 20px;
  color:white;
}
/*******************

       MAIN

*******************/

main {
  margin: 0 auto;
}

main div.informations {
  height: 200px;
  background-color: grey;
}
main div.informations div {
  display: inline-block;
}

main div.informations div p {
  width: 70%;
  float: right;
}

main h1 {
  text-align: center;
}

main div.block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

main div.block div {
  background-color: white;
  color: black;
  font-family: sans-serif;
  height: 350px;
  width: 350px;
  border: solid #de8496 2px;
  text-align: center;
}

main div.block div button {
  background-color: #de8496;
  height: 30px;
  width: 100px;
  color: white;
  border: none;
}

main div.block div button:hover {
  background-color: white;
  color: black;
  border: solid #de8496 2px;
  transition:all 0.2s ease-in;
}

main div.block div span.price {
  font-weight: bolder;
}

/*******************

      FOOTER

*******************/
